body {
  background-color: #fbfbfa;
  color: #2d312e;
}

main {
  text-align: center;
}

p {
  margin: 10px  0;
  font-size: 18px;
}

h1 {
  margin: 0;
}

h2 {

}

span {
  margin: 0 10px;
}

label {
  margin: 0 10px;
  font-size: 20px;
}

.page-header {
  margin: 20px auto;
}

.product-row {
  margin: 10px 20px;
  display: inline-block;
  border: 1px solid #e6e6e3;
  border-radius: 10px;
  padding: 20px 40px 0 40px;
  background-color: #ffffff;
}

.product-list {
  width: 75%;
  margin: 0 auto;
}

.product-title {
  margin: 0 10px;
  font-size: 24px;
  font-weight: bold;
}

.page-footer {
  margin-top: 40px;
}

.page-label, .page-footer {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: #868e89;
}

.cart-container {
  margin-bottom: 50px;
  border-top: 1px solid #d1d5db;
  border-bottom: 1px solid #d1d5db;
  padding-bottom: 20px;
  display: inline-block;
}

.cart-summary {
  margin: 20px auto;
}

.reset-button {
  font-size: 20px;
  background-color: #bc5a45;
  color: #ffffff;
  border: none;
  border-radius: 6px;
  padding: 5px 15px;
  cursor: pointer;
}

.count-button {
  padding: 5px 12px;
  font-size: 16px;
  border-radius: 6px;
  border: none;
  background-color: #6b9c7d;
  color: #ffffff;
  cursor: pointer;
}