* {
    margin: 0;
}

.small-container {
    display: flex;
    justify-content: center;
}

button {
    text-align: center;
    width: 4rem;
    height: 4rem;
    border-radius: 0.7rem;
    margin: 10px 5px;
    box-shadow: 0 0 10px 2px rgb(119 118 118 / 0.86);
    cursor: pointer;
}


.big-container {
    margin: 40px 0;
    display: flex;
    justify-content: center;

}

.big-square {
    width: 30rem;
    height: 30rem;
    border-radius: 1rem;
    border: 5px solid white;
    box-shadow: 0 0 10px 2px rgb(119 118 118 / 0.86);
}

.random-container {
    margin: 40px 0;
    display: flex;
    justify-content: center;
}

#random-color {
    width: 5rem;
    height: 5rem;
    font-size: 1.1rem;
    text-align: center;
    padding: 4px;
    color: white;
}